body {
  background-color: black;
  color: white;
  font-family: arial, sans-serif;
  padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;

}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    
}

/* Navigation links */
.nav-links {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
}

.nav-links li {
    margin-left: 20px;
    float: left;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Hover effect */
.nav-links a:hover {
    color: #00bcd4;
}


body {
  background-color: purple;
  color: white;
  font-family: arial, sans-serif;
  padding: 20px;
}
