/* Reset browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
nav {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation links (LEFT side) */
.nav-links {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hover effect */
.nav-links a:hover {
    color: #00bcd4;
}

h1{
   
    
}
    
/* Hero section */
.hero {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 2000px; 
    background-color: #375F94;
    font: Helvetica; 
    font-size: 200%;
}

.hero img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
